@mixin center-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
$small__screen: 900px;
@mixin small__screen {
  @media (max-height: #{$small__screen}) {
    @content;
  }
}

$tablet: 750px;
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}
$mobile: 450px;
@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  @include small__screen() {
    font-size: 50%;
  }
  @include tablet() {
    font-size: 50%;
  }
  @include mobile() {
    font-size: 50%;
  }
}

body {
  height: 100vh;
  width: 100%;
  background: rgb(56, 55, 55);
  color: yellow;
  display: flex;
  flex-direction: column;
  background: url(images/HD.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  @include center-items();
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  h1 {
    font-size: 7rem;
    font-weight: bold;
    position: absolute;
    top: 8rem;
    @include mobile() {
      top: 3rem;
      font-size: 4rem;
    }
  }
  //   START BOX
  .start__box {
    height: 50rem;
    margin-top: 5rem;
    justify-content: space-between;
    @include mobile() {
      height: 43rem;
      margin: 0;
    }
    h2 {
      font-size: 5rem;
      @include mobile() {
        font-size: 3rem;
      }
    }
    .btn__container {
      width: 100%;
      max-width: 30rem;
      height: 20rem;
      margin-bottom: 1rem;
      @include center-items();
      justify-content: space-between;
      .btn {
        background: transparent;
        border: 0.2rem solid yellow;
        color: yellow;
        box-shadow: none;
        &:focus {
          border: none;
          color: rgb(63, 63, 63);
          background: linear-gradient(
            0deg,
            var(--btn-color) 0%,
            rgba(255, 255, 255, 1) 30%,
            rgba(255, 255, 255, 1) 70%,
            var(--btn-color) 100%
          );
          box-shadow: 0px 10px 13px -7px var(--btn-color),
            0px 0px 30px 5px var(--btn-color);
        }
      }
    }
    .btn__start {
      font-size: 2.2rem;
      width: 30rem;
      padding: 1.5rem 0;
      background: linear-gradient(
        0deg,
        blue 0%,
        rgba(255, 255, 255, 1) 30%,
        rgba(255, 255, 255, 1) 70%,
        blue 100%
      );
      box-shadow: 0px 10px 13px -7px blue, 0px 0px 30px 10px blue;
    }
  }
  //   START BOX

  // GAME BOX
  .game__box {
    width: 100%;
    height: 100%;
    @include center-items();
    display: none;
    .img__container {
      overflow: hidden;
      height: 60rem;
      width: 100%;
      max-width: 45rem;
      border: yellow 0.5rem solid;
      border-radius: 1rem;
      margin: -5rem 0 4rem;
      img {
        width: 100%;
        object-fit: cover;
        filter: blur(1rem);
      }
      @include mobile() {
        height: 50rem;
        max-width: 42rem;
        margin: -13rem 0 3rem;
      }
    }
    form {
      @include center-items();
      justify-content: space-between;
      width: 100%;
      height: 11rem;
      input[type='text'] {
        background: transparent;
        outline: none;
        border: 0.1rem yellow solid;
        border-radius: 1rem;
        height: 4rem;
        color: yellow;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 2rem;
      }
      .btn {
        font-size: 1.5rem;
        width: 20rem;
        padding: 1rem 0;
      }
    }

    .fade-in {
      animation: fade__in 2s;
    }
    .unblur {
      img {
        transition: 1.5s;
        filter: blur(0) !important;
      }
    }
  }
  .ending__credits {
    max-width: 90%;
    height: 40rem;
    text-align: center;
    font-weight: bold;
    position: absolute;
    bottom: -60rem;
    transform: translateY(50%);
    transition: 7s linear;
    @include center-items();
    justify-content: space-between;
    h3 {
      width: 100%;
      font-size: 4rem;
      letter-spacing: 0.2rem;
      line-height: 8rem;
      @include mobile() {
        font-size: 3rem;
        line-height: 5rem;
        margin-bottom: 2rem;
      }
    }
    .btn__retry {
      display: none;
      animation-name: fade__in;
      animation-duration: 3s;
    }
  }
}
// GAME BOX

//   LIGHTSABER LOADER
.lightsaber {
  width: 90%;
  z-index: 5;
  position: absolute;
  top: 50%;
  display: none;
  @include tablet() {
    transform: rotate(-90deg);
    width: 120%;
  }

  img {
    width: 20%;
    z-index: 5;
    position: relative;
    left: 0;
  }
  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 65%;
    background: var(--blade-color);
    z-index: 10;
    top: 18%;
    left: 18.5%;
    z-index: 0;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: 0.3s;
  }

  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 33%;
    background: white;
    z-index: 1;
    top: 30%;
    left: 18.5%;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: 0.3s;
  }
}
//   LIGHTSABER LOADER

.message__display {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15%;
  @include center-items();
  font-size: 2.5rem;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  @include mobile() {
    padding: 0 1rem 3.5rem;
    font-size: 2rem;
  }
}

.correct {
  color: #ffffff;
  background: transparent;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
    0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
}

.wrong {
  color: #ffffff;
  background: transparent;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px red,
    0 0 30px red, 0 0 40px red, 0 0 55px red, 0 0 75px red;
}

// shared classes

.saber__ignite {
  .lightsaber {
    &::before {
      width: 75%;
      animation: outerGlow 1s infinite;
    }
    &::after {
      width: 74.5%;
      animation: innerGlow 1s infinite;
    }
  }
}

.roll__credits {
  .ending__credits {
    bottom: 50%;
  }
}

.box {
  @include center-items();
  justify-content: space-around;
  //   border: 0.3rem solid yellow;
  width: 100%;
  max-width: 60rem;
  height: 100%;
}

.btn {
  text-transform: uppercase;
  font-size: 2rem;
  width: 25rem;
  border-radius: 3rem;
  color: rgb(70, 70, 70);
  border: none;
  padding: 0.5rem 0;
  font-weight: bold;
  letter-spacing: 0.2rem;
  background: linear-gradient(
    0deg,
    blue 0%,
    rgba(255, 255, 255, 1) 30%,
    rgba(255, 255, 255, 1) 70%,
    blue 100%
  );
  box-shadow: 0px 10px 13px -7px blue, 0px 0px 23px 5px blue;
}

.hide__btns {
  h1 {
    display: none;
  }
  .start__box {
    display: none;
  }
}

.show__game {
  .game__box {
    display: flex;
  }
}

// ANIMATIONS
@keyframes outerGlow {
  0% {
    box-shadow: 0px 10px 13px -7px var(--blade-color),
      15px 0px 30px 8px var(--blade-color);
  }
  50% {
    box-shadow: 0px 10px 13px -7px var(--blade-color),
      15px 0px 55px 14px var(--blade-color);
  }
  100% {
    box-shadow: 0px 10px 13px -7px var(--blade-color),
      15px 0px 30px 7px var(--blade-color);
  }
}

@keyframes innerGlow {
  0% {
    box-shadow: 4px 0px 6px 2px rgba(255, 255, 255, 0.8);
  }
  50% {
    box-shadow: 4px 0px 8px 4px rgba(255, 255, 255, 0.8);
  }
  100% {
    box-shadow: 4px 0px 6px 2px rgba(255, 255, 255, 0.8);
  }
}

@keyframes fade__in {
  0% {
    opacity: (0);
    transform: scale(0);
  }

  100% {
    opacity: (100%);
    transform: scale(1);
  }
}

@keyframes text__crawl {
  0% {
    bottom: -60rem;
  }

  100% {
    bottom: 50%;
  }
}
